<mat-list role="list">
    <mat-list-item role="listitem">Title: </mat-list-item>
    <mat-list-item role="listitem">Decription: </mat-list-item>
    <mat-list-item role="listitem">Group: </mat-list-item>
    <mat-list-item role="listitem">Category: </mat-list-item>
    <mat-list-item role="listitem">Status: </mat-list-item>
    <mat-list-item role="listitem">Priority: </mat-list-item>
    <mat-list-item role="listitem">Creator: </mat-list-item>
    <mat-list-item role="listitem">Assigned to: </mat-list-item>
    <mat-list-item role="listitem">Comment: </mat-list-item>
    <mat-list-item role="listitem">Attachment: <button mat-raised-button color="primary">Download</button></mat-list-item>
    <mat-list-item role="listitem"><button mat-raised-button [mat-dialog-close] color="primary">Close</button></mat-list-item>
  </mat-list>