.spacer{
    flex: 1 1 auto;
}
.main{
    background-image: url("https://image.freepik.com/free-vector/abstract-blue-geometric-shapes-background_1035-17545.jpg");
    background-size:initial;
    background-repeat: no-repeat;
}