<p>
  <mat-toolbar color="primary">
    <span>Welcome Admin!</span>

    <div class="spacer"></div>
    <a mat-button routerLink="/adminticket">Ticket</a>
    <a mat-button routerLink="/admingroup">Group</a>
    <a mat-button routerLink="/admincategory">Category</a>
    <a mat-button routerLink="/" (click)="logout()">Log Out</a>
  </mat-toolbar>
  <img
    src="https://image.freepik.com/free-vector/abstract-blue-geometric-shapes-background_1035-17545.jpg"
    width="600"
    height="600"
  />
</p>
