<div class="main">
<p>
    <mat-toolbar color="primary">
      
      <span>Tickets</span>

      <div class="spacer"></div>
    <a mat-button routerLink="/adminticket">Ticket</a>
    <a mat-button routerLink="/admingroup">Group</a>
    <a mat-button routerLink="/admincategory">Category</a>
    <a mat-button routerLink="/">Log Out</a>
    </mat-toolbar>
  </p>


  <mat-form-field fxLayoutAlign="center center" >
    <input (keyup)="applyFilter($event)" matInput placeholder="Search">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"  fxFlexFill >

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="sno">
      <th mat-header-cell *matHeaderCellDef> S.No </th>
      <td mat-cell *matCellDef="let element"> {{element.ticketId}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td> 
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let element"> {{element.category.name}} </td> 
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td> 
    </ng-container>

    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef> Priority </th>
      <td mat-cell *matCellDef="let element"> {{element.priority}} </td> 
    </ng-container>

    <ng-container matColumnDef="creator">
      <th mat-header-cell *matHeaderCellDef> Created by </th>
      <td mat-cell *matCellDef="let element"> {{element.createdByUserId}} </td> 
    </ng-container>

    <ng-container matColumnDef="assignedto">
      <th mat-header-cell *matHeaderCellDef> Assigned To </th>
      <td mat-cell *matCellDef="let element"> API not Ready </td> 
    </ng-container>

    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef> Comment </th>
      <td mat-cell *matCellDef="let element"> {{element.comments}} </td> 
    </ng-container>

    <ng-container matColumnDef="attachment">
      <th mat-header-cell *matHeaderCellDef> Attachment  </th>
     
      <td mat-cell *matCellDef="let element">  <button mat-raised-button  color="primary">Download</button> </td> 
    </ng-container>
   
    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>