<div class="main" fxLayoutAlign="center center" fxFlexFill >
<img src="https://www.accolite.com/assets/jpg/logo.png"  style="vertical-align:middle;margin:0px 50px">
<mat-card fxFlex="28">
    <mat-toolbar color="primary">TICKET MANAGEMENT SYSTEM</mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column">
        <mat-form-field >
            <input matInput placeholder="Email" type="email">
        </mat-form-field>
        <br>
        <mat-form-field >
            <input matInput placeholder="Password" type="password">
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary">SIGN IN</button>
        <br>
        <mat-divider></mat-divider>
        <a routerLink="/signup" fxLayoutAlign="center" mat-raised-button type="submit" color="primary">SIGN UP</a>
    </form>
    
</mat-card>



</div>